pkgbase = tuned-git
	pkgdesc = Daemon that performs monitoring and adaptive configuration of devices in the system
	pkgver = 2.10.0
	pkgrel = 3
	url = https://github.com/redhat-performance/tuned
	install = tuned-git.install
	arch = any
	license = GPL
	makedepends = desktop-file-utils
	depends = ethtool
	depends = python-configobj
	depends = python-pyudev
	depends = python-gobject2
	depends = python-decorator
	depends = python-dbus
	depends = python-gobject
	depends = python-linux-procfs
	depends = dbus-glib
	optdepends = virt-what: For use with virtual machines
	optdepends = systemtap: Disk and net statistic monitoring systemtap scripts
	backup = etc/tuned/active_profile
	source = https://github.com/redhat-performance/tuned/archive/master.zip
	sha256sums = 3b675a33e3d11563db49ee49ca16e1b918d11e81908fe50413e8d86d6acfe56f

pkgname = tuned-git

