pkgbase = tuned-git
	pkgdesc = Daemon that performs monitoring and adaptive configuration of devices in the system
	pkgver = 2.14.0.r27.g845bdc5
	pkgrel = 1
	url = https://github.com/redhat-performance/tuned
	install = tuned-git.install
	arch = any
	license = GPL
	makedepends = desktop-file-utils
	depends = ethtool
	depends = python-configobj
	depends = python-pyudev
	depends = python-gobject
	depends = python-decorator
	depends = python-dbus
	depends = python-gobject
	depends = python-linux-procfs
	depends = dbus-glib
	optdepends = virt-what: For use with virtual machines
	optdepends = systemtap: Disk and net statistic monitoring systemtap scripts
	optdepends = python-dmidecode: DMI Decoding stuff
	backup = etc/tuned/active_profile
	source = git+https://github.com/redhat-performance/tuned.git
	sha256sums = SKIP

pkgname = tuned-git

